<!-- <router-outlet></router-outlet> -->
<open-header></open-header>
<div id="homePageContent">
  <div id="blobs">
    <div id="blobSmall"></div>
    <div id="blobBig"></div>
    <div id="slogan"></div>
    <div id="sloganBase"></div>
    <div id="peopleMeet"></div>
    <div id="meshLeft" class="mesh">
      <div *ngFor="let dot of dots; let i = index" class="dot"></div>
    </div>
    <div id="meshRight" class="mesh">
      <div *ngFor="let dot of dots; let i = index" class="dot"></div>
    </div>
  </div>
  <div id="calculator">
    <open-calculator></open-calculator>
  </div>
  <div id="cardsContainer" class="row">
    <div class="col-sm-6">
      <div class="card" *ngFor="let card of cardsData">
        <img src="{{ card.icon }}" />
        <label class="label col-sm-12">{{ card.label }}</label>
        <span class="col-sm-12">{{ card.content }}</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="boostWithOpen"></div>
      <span id="boostBase"></span>
      <p id="termLoan">{{ termLoanContent }}</p>
    </div>
  </div>
</div>
